/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
	transition: all 0.4s;
    width: 100%;
    z-index: 99;
	padding: 18px 0;
}
.mainmenu {
    text-align: right;
}
.mainmenu li {
    display: inline-block;
    text-transform: uppercase;
}
.mainmenu li a {
    display: inline-block;
    color: #ffff;
    position: relative;
    padding: 5px 16px;
	margin: 0 3px;
    border: 1px solid transparent;
    color: black;
}
.dropdown {
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.mainmenu a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


.slicknav_menu {
	padding: 0;
    background: transparent;
}

.slicknav_menu {
	display: none;
}
/*Buat ganti warna headernya*/
.header.sticky {
	border-bottom: 1px solid #fff;
	background: grey;
}
.header.sticky {
	padding: 10px 0;
}
.mainmenu li a.appao-btn {
	margin-left: 55px;
}