

/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER AREA CSS
 * HERO AREA CSS
 * ABOUT AREA CSS
 * FEATURE AREA CSS
 * SHOWCASE AREA CSS
 * SCREENSHOT AREA CSS
 * PRICING AREA CSS
 * TESTIMONIAL AREA CSS
 * COUNTERUP AREA CSS
 * SCROLL-TO-TOP AREA CSS
 * INDEX SLIDER PAGE CSS
 * PRELOADER CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
/*SEGOE UI FONT BELUM DI IMPORT*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
body {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
	font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
}

/*----------------------------
---------- RESET CSS ---------
----------------------------*/

}
h1 {
    font-size: 48px;
    color: #005131;
    font-family: 'Segoe UI'
}
h2 {
    font-size: 30px;
	color: #005131;
    font-family: 'Segoe UI'
}
h3 {
    font-size: 24px;
    color: #005131;
    font-family: 'Segoe UI'
}
h4 {
    font-size: 18px;
	color: #005131;
    font-family: 'Segoe UI'
}
h6 {
    font-size: 14px;
	color: #005131;
    font-family: 'Segoe UI'
}
h5 {
	color: #005131;
    font-family: 'Segoe UI'
}
a {
    transition: 0.6s;
    font-family: 'Segoe UI'
}
a,
a:hover {
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}

a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    outline: 0;
}

}

select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
textarea {
	height: 120px;
}
input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
    background: transparent;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
input[type="submit"],
button[type="submit"] {
    width: auto;
    color: #666;
    padding: 4px 15px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.sec-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px;
}
.sec-title h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -6px;
    color: green;
}
.sec-title h1 .sec-title-border {
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 3px solid orange;
    right: 0;
    height: 0;
    margin: auto;
}

.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-90 {
    padding: 90px 0;
    background-color: white;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.header.sticky .navbar  a.appao-btn ,
.navbar  a.appao-btn,
.appao-btn {
    border: 1px solid #fff;
    color: #fff;
	border-radius: 15px;
    padding: 6px 25px;
    display: inline-block;
    text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
}


.container-small {
    width: 500px;
    margin: auto;
}
.container-med {
    width: 800px;
    margin: auto;
}
.container-large {
    width: 1240px;
    margin: auto;
}
.container-head {
    width: 1260px;
    height: 50px;
    margin: auto;
}
.container-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
    position: fixed;
	transition: all 0.4s;
    width: 100%;
    z-index: 99;
	padding: 1px 0;
}
.header img{
    /*padding-bottom: 0px*/
}
.navbar {
    text-align: right;
}

.navbar a {
    display: inline-block;
    color: #005131;
    padding: 5px 16px;
	margin: 0 3px;
    border: 1px solid transparent;
    
    font-size: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
    color: #005131;
}
.dropdown-home {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0, 81, 49, 0.9);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(3,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content a {
  color: white;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
  border-bottom: 2px solid #fff;
  border-bottom-style: solid;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar {
    display: block;
}
.slicknav_navbar {
	display: none;
}

.navbar ul a.active,
.navbar ul a:hover,
.navbar ul a:focus{
    border-bottom: 4px #004547;
    border-bottom-style: solid;
    background-color: transparent;  
}
/*Buat ganti warna headernya*/
.header.sticky {
	/*border-bottom: 1px solid green;*/
    padding: 5px 0;
	background: white;
    opacity: 95%
}

.navbar a.appao-btn {
	margin-left: 55px;
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/



/*--------------------------------------
-------- WELCOME PAGE + SLIDESHOW CSS START --------
---------------------------------------*/
.mySlides {
  display: none;
}
.mySlides img {
  width: 1280px;
  height: 600px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  padding: 300px 0 300px 0px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color : transparent;
  display: inline-block;
}
/* Position the "next button" to the right */
.prev {
  padding-right: 30px;
}
.next {
  right: 0px;
  padding-left : 30px;
}
.left {
  margin: auto;
  padding : auto;
}
.right {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.next span, .prev span {
  color: #015330;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(55, 83, 1, 0.5);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: rgba(55, 83, 1, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #015330;
}
/*--------------------------------------
-------- WELCOME PAGE + SLIDESHOW CSS END --------
---------------------------------------*/

/*--------------------------------------
-------- HERO AREA CSS START --------
---------------------------------------*/
/*hero-*-content CSS untuk content halaman awal*/
.hero-area {
    padding-top: 140px;
	z-index: 1;
	position: relative;
    /*background-image: url(../img/scb1.png);*/
    /*repeat bisa untuk background nih*/
	overflow: hidden;
}
.hero-area::before {
	content: "";
	top: 0;
	left: 0;
    opacity: 0.60;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background: white; 
}

.hero-area-content {
    color: #000;
	padding: 115px 0px 230px;
}
.hero-area-content h1 {
    color: #000;
    text-align: center
}
.hero-area-content p {
    margin: 28px 0 25px;
}
.hero-area-content .appao-btn {
    margin-top: 0px;
    margin-right: 0px;
}
/*------------------------------------
--------- HERO AREA CSS END ---------
------------------------------------*/

/*--------------------------------------
-------- PROFIL AREA CSS START / Sapaan Hangat --------
---------------------------------------*/
.profil-area {
	text-align: center;
}
.row-profil{
    width : auto;
    margin: auto;
    display: inline;
}

.single-profil-box {
    border-radius: 100px;
    border: 4px solid #005131;
    display: block;
    font-color: rgba(0, 0, 0, 0.5);
    /*min-width: */
}
.single-profil-box:hover {
	box-shadow: 0 0 10px green;

}
.single-profil-box h4 {    
	margin: 25px 25px;
    text-align: center;
}
.profil-title{
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    top: -6px;
}
.profil-title h1{
    color: #393939;
    font-weight: bold;
    font-size: 60px;
    
}
.profil-title h3{
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
}
.profil-content {
    font-family: Segoe UI;
    line-height: 32px;
    width: 754px;
    text-align: center;
    position: relative;
    /*left: 343px;*/
    margin: auto;
}
.profil-content p {
    font-size : 24px;
    color: #393939;
}

/*--------------------------------------
---------- PROFIL AREA CSS END /FIXED ----------
---------------------------------------*/

/*--------------------------------------
-------- SCB DALAM ANGKA / COUNTERUP AREA CSS START --------
---------------------------------------*/
.counter-area {
    
    background-attachment: fixed;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding-top: 30px;
}
.counter-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Old browsers */
    
    opacity: 0.85;
    z-index: -1;
}
.single-counter-box i::before {
    background: #0861b5;
    font-family: Segoe UI;
    text-align: center;
    width: 120px;
    display: block;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
    font-size: 50px;
    margin: auto;
    box-shadow: 0 8px 8px #020202;
    border: 2px solid white;
    transition: all 0.4s;
}

.single-counter-box a{
    border: 3px solid white;
}

.single-counter-box h1 {
    margin: 25px 0 10px;
    color : green;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #393939;
}
.single-counter-box h2 {
    margin: 25px 0 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color : rgba(0, 0, 0, 0.5);
}
.single-counter-box h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 73.7526px;
    line-height: 98px;
    color: #393939;
}

.single-counter-box p {
    
    font-style: normal;
    font-weight: normal;
    font-size: 20.9172px;
    line-height: 28px;
    text-align: center;

    color: #393939;
}

.single-counter-box {
    margin-top: 40px;
}
.single-counter-box:hover i::before {
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
}
/*--------------------------------------
-------- SCB DALAM ANGKA / COUNTERUP AREA CSS END --------
---------------------------------------*/

/*--------------------------------------
-------- COUNTDOWN / HITUNG MUNDUR START --------
---------------------------------------*/

.countdown-area {
    position: relative;
    text-align: center;
    color: #fff;
}
.countdown {
    position: relative;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
}
.edge-left-top {
    border-radius: 22px 0px 0px 0px;
}
.edge-right-top {
    border-radius: 0px 22px 0px 0px;
}
.edge-right-bot {
    border-radius: 0px 0px 22px 0px;
}
.edge-left-bot {
    border-radius: 0px 0px 0px 22px;
}
.single-countdown-box {
    /*margin-top: 40px;*/
    text-align: center;
    font-family: Segoe UI;
}
.single-countdown-box table {
    width: 850px;
    height: 200px;
    margin : auto;
}
.single-countdown-box th {
  text-align: center;
  padding-top : 30px;
  background: #004547;
  font-size: 60px;
  line-height: 32px;
}
.single-countdown-box td {
  text-align: center;
  padding-bottom: 30px;
  background: #004547;
  font-size: 24px;
  line-height: 32px;
}

.single-countdown-box h1 {
    margin-top : 10px;  
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #393939;
}
.single-countdown-box h4 {
    margin-top : 0px;
    margin-bottom: 80px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #707070;
}
.single-countdown-box p {
    font-size: 16px;
    line-height: normal;
    color : black;

}


/*--------------------------------------
-------- COUNTDOWN / HITUNG MUNDUR END --------
---------------------------------------*/


/*--------------------------------------
----------------AGENDA START ------------
---------------------------------------*/
.agenda-area {
    
    position: relative;
    margin-top: 70px; 
}
.agenda-area h2 {
    text-align: left;
    color: #393939;
}

.single-agenda-box {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 4px solid #005131;
    text-align: center;
    display: block;
    border-radius: 0px;
}
.single-agenda-box h4 {    
    margin: 25px 25px;
    text-align: center;
}
.single-agenda-box:hover {
    box-shadow: 0 0 20px green;
}

.agenda-next {
    margin-right: 100px;
    text-align : right;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    align-content: left;
    font-family: Segoe UI;
    font-weight: bold;
    color: #005131;
}
.agenda-next1 {
    width : 500px;
    padding-top: 20px;
    margin-left: 1020px;

}



/*--------------------------------------
----------------AGENDA END ------------
---------------------------------------*/






/*--------------------------------------
--- SCREENSHOT IMAGE AREA CSS START ----
---------------------------------------*/
/*.screenshots-area .sec-title {
    margin-bottom: 15px;
}
.screenshot-wrap .slick-list {
	padding-bottom: 90px !important;
	padding-top: 80px !important;
}
.single-screenshot.slick-slide {
	z-index: 1;
}

.single-screenshot img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.single-screenshot.slick-active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot.slick-center {
	position: relative;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	z-index: 3;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot img {
	width: 100%;
    opacity: 20
    
}
.slick-dots {
	text-align: center;
	margin-top: 10px;
}
.slick-dots li.slick-active button {
    background-color: #0074da;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots li button {
    background: transparent;
    border: 2px solid #0074da;
    border-radius: 100%;
    font-size: 0;
    margin: 0 3px;
    padding: 0;
	cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.single-screenshot.slick-center {
    background-image: url(spotlight.jpg);
    background-size: 50% 50%;
}
.single-screenshot.slick-center img {
    padding: 35px 20px 55px;
}*/
/*--------------------------------------
-------- SCREENSHOT AREA CSS END -------
---------------------------------------*/
.footer {
    /*background: url(../img/footer-bg.jpg) no-repeat center / cover;*/
    position: relative;
    margin-top: 100px;
    z-index: 1;
    padding-bottom: 35px;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: #000; /* Old browsers */
	/*background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 */*/*/
	/*background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);*/
    opacity: 0.85;
    z-index: -1;
}

/*---------------------------------------
------ FOOTER AREA CSS END --------------
---------------------------------------*/

/*--------------------------------------
-------- SCROLL-TO-TOP CSS START --------
---------------------------------------*/
.scrollToTop {
    width: 40px;
	display: none;
    height: 40px;
    line-height: 39px;
    background: #000;
	display: none;
    color: #fff;
    position: fixed;
    border: 1px solid #fff;
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    text-align: center;
	font-size: 18px;
}
.scrollToTop:hover {
    background: #000529;
    background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
    background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    border: 1px solid #fff;
    color: #fff;
}
.scrollToTop:focus {
    border: 1px solid #fff;
    color: #fff;
}
/*--------------------------------------
--------- SCROLL-TO-TOP CSS END ---------
---------------------------------------*/


