

/**
 *** CSS Indexing ***
 * THEME DEFAULT CSS
 * RESET CSS
 * HEADER AREA CSS
 * HERO AREA CSS
 * ABOUT AREA CSS
 * FEATURE AREA CSS
 * SHOWCASE AREA CSS
 * SCREENSHOT AREA CSS
 * PRICING AREA CSS
 * TESTIMONIAL AREA CSS
 * COUNTERUP AREA CSS
 * SCROLL-TO-TOP AREA CSS
 * INDEX SLIDER PAGE CSS
 * PRELOADER CSS
**/

/*----------------------------------
--------- THEME DEFAULT CSS --------
----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');
body {
    line-height: 24px;
    font-size: 14px;
    color: #666666;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/*----------------------------
---------- RESET CSS ---------
----------------------------*/

}
h1 {
    font-size: 48px;
    color: #16420b;
}
h2 {
    font-size: 30px;
	color: #16420b;
}
h3 {
    font-size: 24px;
    color: #16420b;
}
h4 {
    font-size: 18px;
	color: #16420b;
}
h6 {
    font-size: 14px;
	color: #16420b;
}
h5 {
	color: #16420b;
}
a {
    transition: 0.6s;
}
a,
a:hover {
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}

a,
a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
    border: none;
    outline: 0;
}

}

select:focus,
select:active {
    box-shadow: none;
    border: 0;
    outline: 0
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
button{
    cursor: pointer;
}
textarea {
	height: 120px;
}
input[type="text"],
input[type="submit"],
button[type="submit"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="number"],
textarea {
    background: transparent;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
input[type="submit"],
button[type="submit"] {
    width: auto;
    color: #666;
    padding: 4px 15px;
}
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.sec-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px;
}
.sec-title h1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -6px;
    color: green;
}
.sec-title h1 .sec-title-border {
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 3px solid orange;
    right: 0;
    height: 0;
    margin: auto;
}

.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-90 {
    padding: 90px 0;
    background-color: white;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.header.sticky .navbar  a.appao-btn ,
.navbar  a.appao-btn,
.appao-btn {
    border: 1px solid #fff;
    color: #fff;
	border-radius: 15px;
    padding: 6px 25px;
    display: inline-block;
    text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
}


.container-small {
    width: 500px;
    margin: auto;
}
.container-med {
    width: 800px;
    margin: auto;
}
.container-head {
    width: 1260px;
    height: 50px;
    margin: auto;
}
.container-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
    position: fixed;
	transition: all 0.4s;
    width: 100%;
    z-index: 99;
	padding: 1px 0;
}
.header img{
    /*padding-bottom: 0px*/
}
.navbar {
    text-align: right;
}

.navbar a {
    display: inline-block;
    color: yellow;
    padding: 5px 16px;
	margin: 0 3px;
    border: 1px solid transparent;
    
    font-size: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(3,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar {
    display: block;
}
.slicknav_navbar {
	display: none;
}
.navbar ul a.active{
    background-color: black;
    border-radius: 10px;
}
.navbar ul a:hover {
    background-color: red;
}
/*Buat ganti warna headernya*/
.header.sticky {
	border-bottom: 3px solid #000;
    padding: 5px 0;
	background: grey;
}

.navbar a.appao-btn {
	margin-left: 55px;
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/



/*--------------------------------------
-------- WELCOME PAGE + SLIDESHOW CSS START --------
---------------------------------------*/
.mySlides {
  display: none;
}
.mySlides img {
  width: 1260px;
  height: 600px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color : transparent;
  display: inline-block;
}
/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}
.prev {
  border-radius: 3px 0 0 3px;
}
.next span, .prev span {
  color:black;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /*background-color: rgba(0,0,0,0.8);*/
  background-color: #fff;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: green;
}
/*--------------------------------------
-------- WELCOME PAGE + SLIDESHOW CSS END --------
---------------------------------------*/

/*--------------------------------------
-------- HERO AREA CSS START --------
---------------------------------------*/
/*hero-*-content CSS untuk content halaman awal*/
.hero-area {
    padding-top: 140px;
	z-index: 1;
	position: relative;
    /*background-image: url(../img/scb1.png);*/
    /*repeat bisa untuk background nih*/
	overflow: hidden;
}
.hero-area::before {
	content: "";
	top: 0;
	left: 0;
    opacity: 0.60;
	right: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	background: white; 
}

.hero-area-content {
    color: #000;
	padding: 115px 0px 230px;
}
.hero-area-content h1 {
    color: #000;
    text-align: center
}
.hero-area-content p {
    margin: 28px 0 25px;
}
.hero-area-content .appao-btn {
    margin-top: 0px;
    margin-right: 0px;
}
/*------------------------------------
--------- HERO AREA CSS END ---------
------------------------------------*/

/*--------------------------------------
-------- PROFIL AREA CSS START / Sapaan Hangat --------
---------------------------------------*/
.profil-area {
	text-align: center;
}
.row-profil{
    width : 30%;
    margin: auto;
    display: inline;
}

.single-profil-box {
    border-radius: 10px;
    border: 1px solid green;
    display: block;
    font-color: green;


}
.single-profil-box:hover {
	box-shadow: 0 0 10px green;

}
.single-profil-box h4 {    
	margin: 10px 10px;
    text-align: center;

}
/*--------------------------------------
---------- PROFIL AREA CSS END /FIXED ----------
---------------------------------------*/

/*--------------------------------------
-------- SCB DALAM ANGKA / COUNTERUP AREA CSS START --------
---------------------------------------*/
.counter-area {
    
    background-attachment: fixed;
    position: relative;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding-top: 30px;
}
.counter-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* Old browsers */
    
    opacity: 0.85;
    z-index: -1;
}
.single-counter-box i::before {
    background: #0861b5;
    width: 120px;
    display: block;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
    font-size: 50px;
    margin: auto;
    box-shadow: 0 8px 8px #020202;
    border: 2px solid white;
    transition: all 0.4s;
}

.single-counter-box a{
    border: 3px solid white;
}

.single-counter-box h1 {
    margin: 25px 0 10px;
    color : green;
}
.single-counter-box p {
    font-size: 24px;
    line-height: normal;
    color : green;
}

.single-counter-box {
    margin-top: 40px;
}
.single-counter-box:hover i::before {
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
}
/*--------------------------------------
-------- SCB DALAM ANGKA / COUNTERUP AREA CSS END --------
---------------------------------------*/


/*--------------------------------------
-------- COUNTDOWN / HITUNG MUNDUR --------
---------------------------------------*/

.countdown-area {
    
    position: relative;
    text-align: center;
    color: #fff;

}
.countdown {
    position: relative;
    text-align: center;
    color: green;
    padding-top: 50px;
    font-size: 30px;
}
.single-countdown-box {
    margin-top: 40px;
    text-align: center;
}

.single-countdown-box h1 {
    font-size: 25px;
    color : green;
    font-weight: bold;

}
.single-countdown-box p {
    font-size: 16px;
    line-height: normal;
    color : green;
}


/*--------------------------------------
--- SCREENSHOT IMAGE AREA CSS START ----
---------------------------------------*/
.screenshots-area .sec-title {
    margin-bottom: 15px;
}
.screenshot-wrap .slick-list {
	padding-bottom: 90px !important;
	padding-top: 80px !important;
}
.single-screenshot.slick-slide {
	z-index: 1;
}

.single-screenshot img {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

.single-screenshot.slick-active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 2;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot.slick-center {
	position: relative;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	z-index: 3;
	transition: all 0.3s ease-in 0s;
}
.single-screenshot img {
	width: 100%;
    opacity: 20
    
}
.slick-dots {
	text-align: center;
	margin-top: 10px;
}
.slick-dots li.slick-active button {
    background-color: #0074da;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots li button {
    background: transparent;
    border: 2px solid #0074da;
    border-radius: 100%;
    font-size: 0;
    margin: 0 3px;
    padding: 0;
	cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.single-screenshot.slick-center {
    background-image: url(spotlight.jpg);
    background-size: 50% 50%;
}
.single-screenshot.slick-center img {
    padding: 35px 20px 55px;
}
/*--------------------------------------
-------- SCREENSHOT AREA CSS END -------
---------------------------------------*/




.footer {
    /*background: url(../img/footer-bg.jpg) no-repeat center / cover;*/
    position: relative;
    z-index: 1;
    padding-bottom: 35px;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: #000; /* Old browsers */
	/*background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 */*/*/
	/*background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);*/
    opacity: 0.85;
    z-index: -1;
}

/*---------------------------------------
------ FOOTER AREA CSS END --------------
---------------------------------------*/

/*--------------------------------------
-------- SCROLL-TO-TOP CSS START --------
---------------------------------------*/
.scrollToTop {
    width: 40px;
	display: none;
    height: 40px;
    line-height: 39px;
    background: #000;
	display: none;
    color: #fff;
    position: fixed;
    border: 1px solid #fff;
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    text-align: center;
	font-size: 18px;
}
.scrollToTop:hover {
    background: #000529;
    background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
    background: -webkit-linear-gradient(left, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    background: linear-gradient(to right, #000529 1%,#002055 24%,#005db5 67%,#0074d9 100%);
    border: 1px solid #fff;
    color: #fff;
}
.scrollToTop:focus {
    border: 1px solid #fff;
    color: #fff;
}
/*--------------------------------------
--------- SCROLL-TO-TOP CSS END ---------
---------------------------------------*/


